[submodule "packages/gapi-cli"]
	path = packages/gapi-cli
	url = https://github.com/Stradivario/gapi-cli
[submodule "packages/gapi-core"]
	path = packages/gapi-core
	url = https://github.com/Stradivario/gapi-core
[submodule "packages/gapi-daemon"]
	path = packages/gapi-daemon
	url = https://github.com/Stradivario/gapi-daemon
[submodule "packages/gapi-ethereum"]
	path = packages/gapi-ethereum
	url = https://github.com/Stradivario/gapi-ethereum
[submodule "packages/gapi-ipfs"]
	path = packages/gapi-ipfs
	url = https://github.com/Stradivario/gapi-ipfs
[submodule "packages/gapi-ipfs-daemon"]
	path = packages/gapi-ipfs-daemon
	url = https://github.com/Stradivario/gapi-ipfs-daemon
[submodule "packages/gapi-ipfs-pubsub"]
	path = packages/gapi-ipfs-pubsub
	url = https://github.com/Stradivario/gapi-ipfs-pubsub
[submodule "packages/gapi-microservices"]
	path = packages/gapi-microservices
	url = https://github.com/Stradivario/gapi-microservices
[submodule "packages/gapi-onesignal-notifications"]
	path = packages/gapi-onesignal-notifications
	url = https://github.com/Stradivario/gapi-onesignal-notifications
[submodule "packages/gapi-voyager"]
	path = packages/gapi-voyager
	url = https://github.com/Stradivario/gapi-voyager
[submodule "packages/gapi-orbitdb"]
	path = packages/gapi-orbitdb
	url = https://github.com/Stradivario/gapi-orbitdb
[submodule "packages/gapi-playground"]
	path = packages/gapi-playground
	url = https://github.com/Stradivario/gapi-playground
[submodule "packages/gapi-sequelize"]
	path = packages/gapi-sequelize
	url = https://github.com/Stradivario/gapi-sequelize
[submodule "packages/gapi-auth"]
	path = packages/gapi-auth
	url = https://github.com/Stradivario/gapi-auth
[submodule "packages/gapi-apache-kafka"]
	path = packages/gapi-apache-kafka
	url = https://github.com/Stradivario/gapi-apache-kafka
