[submodule "gapi-amqp"]
	path = gapi-amqp
	url = git@github.com:Stradivario/gapi-amqp.git
[submodule "gapi-angular-client"]
	path = gapi-angular-client
	url = git@github.com:Stradivario/gapi-angular-client.git
[submodule "gapi-apache-kafka"]
	path = gapi-apache-kafka
	url = git@github.com:Stradivario/gapi-apache-kafka.git
[submodule "gapi-cli"]
	path = gapi-cli
	url = git@github.com:Stradivario/gapi-cli.git
[submodule "gapi-cli-docs"]
	path = gapi-cli-docs
	url = git@github.com:Stradivario/gapi-cli-docs.git
[submodule "gapi-core"]
	path = gapi-core
	url = git@github.com:Stradivario/gapi-core.git
[submodule "gapi-sequelize"]
	path = gapi-sequelize
	url = git@github.com:Stradivario/gapi-sequelize.git
[submodule "gapi-starter"]
	path = gapi-starter
	url = git@github.com:Stradivario/gapi-starter.git
[submodule "gapi-starter-postgres-sequelize-rabbitmq"]
	path = gapi-starter-postgres-sequelize-rabbitmq
	url = git@github.com:Stradivario/gapi-starter-postgres-sequelize-rabbitmq.git
[submodule "gapi-testing-util"]
	path = gapi-testing-util
	url = git@github.com:Stradivario/gapi-testing-util.git
[submodule "gapi-cloud"]
	path = gapi-cloud
	url = git@github.com:Stradivario/gapi-cloud.git
